$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("../fonts/pbmit-xido-cyber-icon/flaticon.ttf?3fe95126071b415f9380912b11b7c8a7") format("truetype"),
url("../fonts/pbmit-xido-cyber-icon/flaticon.woff?3fe95126071b415f9380912b11b7c8a7") format("woff"),
url("../fonts/pbmit-xido-cyber-icon/flaticon.woff2?3fe95126071b415f9380912b11b7c8a7") format("woff2"),
url("../fonts/pbmit-xido-cyber-icon/flaticon.eot?3fe95126071b415f9380912b11b7c8a7#iefix") format("embedded-opentype"),
url("../fonts/pbmit-xido-cyber-icon/flaticon.svg?3fe95126071b415f9380912b11b7c8a7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "hacker": "\f101",
    "shield": "\f102",
    "antivirus": "\f103",
    "cloud": "\f104",
    "lock": "\f105",
    "safe": "\f106",
    "laptop": "\f107",
    "shield-1": "\f108",
    "laptop-1": "\f109",
    "global": "\f10a",
    "smartphone": "\f10b",
    "cloud-1": "\f10c",
    "hacker-1": "\f10d",
    "shield-2": "\f10e",
    "lock-1": "\f10f",
);

.flaticon-hacker:before {
    content: map-get($flaticon-map, "hacker");
}
.flaticon-shield:before {
    content: map-get($flaticon-map, "shield");
}
.flaticon-antivirus:before {
    content: map-get($flaticon-map, "antivirus");
}
.flaticon-cloud:before {
    content: map-get($flaticon-map, "cloud");
}
.flaticon-lock:before {
    content: map-get($flaticon-map, "lock");
}
.flaticon-safe:before {
    content: map-get($flaticon-map, "safe");
}
.flaticon-laptop:before {
    content: map-get($flaticon-map, "laptop");
}
.flaticon-shield-1:before {
    content: map-get($flaticon-map, "shield-1");
}
.flaticon-laptop-1:before {
    content: map-get($flaticon-map, "laptop-1");
}
.flaticon-global:before {
    content: map-get($flaticon-map, "global");
}
.flaticon-smartphone:before {
    content: map-get($flaticon-map, "smartphone");
}
.flaticon-cloud-1:before {
    content: map-get($flaticon-map, "cloud-1");
}
.flaticon-hacker-1:before {
    content: map-get($flaticon-map, "hacker-1");
}
.flaticon-shield-2:before {
    content: map-get($flaticon-map, "shield-2");
}
.flaticon-lock-1:before {
    content: map-get($flaticon-map, "lock-1");
}
